
/* Define global window properties */
html {
    /* Dark theme */
    --colour-fg: #151515;
    --colour-bg: #0a0a0a;
    --text-colour: #dddddd;

    /* Light theme (Not 100% supported yet) 
    --colour-fg: #cccccc;
    --colour-bg: #bbbbbb;
    --text-colour: #444444;*/

    background-color: var(--colour-bg);

    /* Global text properties. */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-colour);
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

/* THe bottom control bar is where the main controls
such as the play/pause buttons are and volume ctrls.*/
#ctrl-bar-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 68px;
    position: absolute;
    background-color: var(--colour-fg);
    text-align: center;

    /* Centre child elements */
    display: flex;
    align-items: center;
}

/* Container for bottom ctrl bar buttons */
#btm_btn_container {
    margin: auto;
    width: 250px;
    height: 30px;
    margin: auto;
}

/* This class defines the buttons at the bottom control bar */
.btn_btm_ctrl {
    height: inherit;
}